@{
    ViewBag.Title = "XacNhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-weight:bold; text-align:center; font-size:30px">
    ĐƠN HÀNG CỦA QUÝ KHÁCH ĐÃ ĐƯỢC GHI NHẬN. CHÚNG TÔI SẼ SỚM LIÊN HỆ QUÝ KHÁCH TRONG THỜI GIAN SỚM NHẤT VÀ GIAO HÀNG ĐÚNG HẸN
</h2>
<br />
<p style="text-align:center" class="center">@Html.ActionLink("Về trang chủ", "Index", "MainPage")</p>
