@{
    ViewBag.Title = "DTTheoNSX";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WebMuaBanDTDD.Models;
@model List<HANG>

<br />
<h2 style="text-align:center; font-weight:bold; font-size:20px">SẢN PHẨM THEO NHÀ SẢN XUẤT</h2><br />
<div class="row" style="margin-left:60px">
@foreach (var dt in Model)
{    
    <div class="col-sm-4 col-lg-4 col-md-4" style="border:solid 2px lightblue; margin-right:5px; margin-bottom:5px; padding-top:10px ; max-width:400px; max-height:400px">
        <div class="thumbnail">
            <a href="@Url.Action("Details", "MainPage", new { id = dt.MADT })">
             <img alt="@dt.TENDT" src="~/Content/images/sanpham/@dt.HINHANH" width="300" class="center" />
            </a>
            
            <div>
                <br />
                    <h4 style="text-align:center; font-weight:bold">
                        @dt.TENDT
                    </h4>
                <br />
                    <h4 style="text-align:center; border:1px solid; background-color:red; font-weight:bold; width:100px" class="container">
                        <a href="@Url.Action("themGioHang", "GioHang", new { @iMaDT = dt.MADT, @strURL = Request.Url.ToString() })" style="color:white">ĐẶT MUA</a>
                    </h4>
                <br />
            </div>
        </div>
    </div>
     
}